---
layout: default
---

<section id="about">
   <div class="main-content">
      <h5 class="section-head"><span>What I Do</span></h5>
      <p class="lead-in centered">I'm a web designer, front-end developer, and illustrator.</p>

      <p>{% include intro.md %}</p>


      <div class="action cf">
         <p class="centered">If you'd like to get in touch:<br><a class="btn" href="#contact">Send me a message</a></p>
         <p class="centered">You're welcome to download:<br><a class="btn" href="roberttayco-resume.pdf">my r&eacute;sum&eacute; (PDF)</a></p>
      </div>
   </div>
</section>

{% include work-samples.html %}
