h1,.h1 { font-size: golden-ratio($base-font-size * 1px, 2.5); }
h2,.h2 { font-size: golden-ratio($base-font-size * 1px, 2); }
h3,.h3 { font-size: golden-ratio($base-font-size * 1px, 1.5); }
h4,.h4 { font-size: golden-ratio($base-font-size * 1px, 1); }
h5,.h5 { font-size: golden-ratio($base-font-size * 1px, 0.5); }
h6,.h6 { font-size: golden-ratio($base-font-size * 1px, 0); }
