/* Main container for all the site content */
.container {
   margin-left:  auto;
   margin-right: auto;
   max-width: 42em;
   width: 85%;
}

// .container--copy {
//    max-width: 40em;
// }

.grid-container {
   font-size: 0;
   width:     100%;
}
   .grid-item {
      display:   inline-block;
      font-size: 14px;
   }
