//    COLORS
// ==============
$color-base-text: #555;
$color-base-ui:   #ececec;



//    BRAND COLORS
$color-brand-primary:       #f05032; // red-orange
$color-brand-primary-lt:    tint($color-brand-primary, 15%);
$color-brand-primary-dk:   shade($color-brand-primary, 15%);

$color-brand-secondary:     #45545f; // dark gray
$color-brand-secondary-lt:  tint($color-brand-secondary, 15%);
$color-brand-secondary-dk: shade($color-brand-secondary, 15%);


//    GRAYS
// $color-gray-xlt: #fbfcfc;
$color-gray-xlt:  #f1f4f5;


//    SECONDARY PALETTE
$color-bg-pale-blue: #dfe8ef;
$color-bg-dark-blue: #294052;
$color-bg-xlt-gray:  #f1f4f5;
$color-bg-lt-gray:   #d4dbe0;


// These are classes and should be separated out from the
// branding variables

.bg-brand1 { background-color: $color-brand-primary; }
.bg-brand2 { background-color: $color-brand-secondary; }

.bg-brand1,
.bg-brand2 { color: #fff; }
