<section class="contact container">
   <div class="main-content">
      <h5 class="section-title">Contact Me</h5>
      <p class="headline centered">Interested in working together?</p>
      <p>I’m available for user interface and user experience design projects, branding and identity, and front-end development work. <a class="" href="mailto:rob@roberttayco.com" title="Email me">Drop me an note</a> if you’d like to discuss a potential project or if you just need another set of eyes and hands in an ongoing project.</p>
   </div>
</section>
