<section id="contact">
   <div class="main-content">
      <h5 class="section-head">Contact Me</h5>
      <p class="lead-in centered">Interested in working together?</p>
      <p>I’m available for user interface and user experience design projects, branding and identity work including updates and refreshes of existing logos &amp; materials, and front-end development work. <a class="" href="mailto:rob@roberttayco.com" title="Email me">Drop me an note</a> if you’d like to discuss a potential project or if you just need another set of eyes and hands in an ongoing project.</p>
   </div>
</section>
