<footer>
  <div class="container cf">
    <ul class="social">
      <li><a href="http://www.facebook.com/roberttayco" class="social ir fb" title="Facebook">Facebook</a></li>
      <li><a href="https://plus.google.com/+RobertTayco" class="social ir gplus" title="Google+">Google+</a></li>
      <li><a href="http://twitter.com/roberttayco" class="social ir tw" title="Twitter">Twitter</a></li>
      <li><a href="http://github.com/roberttayco" class="social ir gh" title="Github">Github</a></li>
      <!-- Add Dribbble -->
      <!--<li><a href="" class="social ir drib" title="Dribbble">Dribbble</a></li>-->
    </ul>

    <p id="copyright"><a href="mailto:rob@roberttayco.com" title="Email me">Robert Tayco</a></p>
  </div>
</footer>
