<script>
   var date = new Date(),
       copyrightYear = date.getFullYear();
   document.getElementById('copyright').prepend('&copy' + copyrightYear);


// Analytics
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-11204569-1']);
   _gaq.push(['_trackPageview']);

   (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>

<script>
// LiveReload script
   document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
   ':35729/livereload.js?snipver=1"></' + 'script>')
</script>

</body>
</html>
