<section id="work">
   <div class="main-content cf">
     <h5 class="section-head"><span>Work Samples</span></h5>

     <div class="project project-cat">
       <a href="web.html" class="link-block">
        <img src="/img/vbb-home-sm.jpg" alt="">
     </a>
     <h3><a href="web.html">Web Design</a></h3>
  </div>

  <div class="project project-cat">
    <a href="/graphics/" class="link-block">
     <img src="/img/unbridled-sm.jpg" alt="">
  </a>
  <h3><a href="/graphics/">Graphic Design</a></h3>
</div>

<div class="project project-cat">
 <a href="/artwork/" class="link-block">
  <img src="/img/chrcl-portrait-001.jpg" alt="">
</a>
<h3><a href="/artwork/">Artwork</a></h3>
</div>
</div>
</section>