.btn {
  background: $color-brand-secondary;
  border: 0;
  border-radius: .4em;
  color: #fff;
  display: inline-block;
  font-family: $font-copy;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: .15em;
  line-height: 1.5;
  margin: 1em 0;
  padding: 1em 1.25em;
  text-decoration: none;
  text-transform: uppercase;

  // &:visited { color: #fff; }

  &:hover, &:focus {
    background: $color-brand-primary;
    border: 0;
    color: #fff;
  }
  &:active {}
}

.btn-action {
  background: $color-brand-primary;
  font-size: .85em;

  &:hover, &:focus {
    background: $color-brand-primary-dk;
  }
  &:active {}
}

.btn-contact {
  font-size: 1.2em;
  letter-spacing: 0;
  text-transform: none;
}

.btn-top-nav {
  background: none;
  line-height: 1;
  // padding: 1em 0;
  width: 100%;

  &:hover {
    background: #fff;
    color: $color-brand-primary;
  }
}
.btn-return {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 30%;
}
.btn-masthead {
  background: #fff;
  color: $color-brand-primary;
  margin: 1em 2em;
  padding: 1em 2em;

  &:hover, &:focus { background: $color-brand-secondary; }
}

.disabled { color: $color-bg-lt-gray !important; }