// Fonts
// ==========
$font-base:     'roboto', 'lato', 'helvetica neue', sans-serif;

$font-copy:     'roboto', 'lato', 'helvetica neue', sans-serif;
$font-headings: 'roboto condensed', 'helvetica neue', sans-serif;
$font-special:  'merriweather', georgia, serif;

$font-heavy:  900;
$font-bold:   700;
$font-normal: 400;
$font-light:  300;
