<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Robert Tayco | Web Designer/Front-End Developer</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,400italic|Alegreya:400italic,400' rel='stylesheet' type='text/css'>
  <!--[if lt IE 10]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div class="masthead bg-brand1">
  <!-- logo -->
  <a href="/"><img src="/img/logo-white.svg" alt="Robert Tayco"></a>

  <div class="bio">
    <p>{% include intro.md %}</p>
  </div>

</div>

{{ content }}

</body>
</html>